.App {
  text-align: center;
  padding: 15px;
}

.mainBtn {
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 7px;
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
}

.mainBtn:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  color: #000;
}

.ballsDiv {
  display: inline-block;
  margin: 5px 15px;
}

.lotteryBall {
  color: #fff;
  font-size: 18px;
  display: inline-block;
  min-width: 50px;
  min-height: 50px;
  line-height: 50px;
  border-radius: 100%;
  background: radial-gradient(100px 100px at 0 0, #5cabff, #000);
  vertical-align: middle;
}
